<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-56">User Storage Info</h4>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">

        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Username -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <!-- Storage Used -->
        <ng-container matColumnDef="storageUsed">
          <th mat-header-cell *matHeaderCellDef> Storage Used </th>
          <td mat-cell *matCellDef="let element">{{ element.storageUsed }}</td>
        </ng-container>

        <!-- Price -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element">{{ element.price }}</td>
          <td mat-cell *matCellDef="let element">
  <span class="badge"
        [ngClass]="{
          'success': element.price === '1€',
          'warning': element.price === '4€',
          'danger': element.price === '8€'
        }">
    {{ element.price }}
  </span>
</td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
